<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dynamic Templates</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 style="color:red;background-color:yellow;">Welcome to Dynamic Templates</h1>

    <h2>Multipy 3 * 3 = <%= 3*3  %></h2>
    <h2>A random number between 3 and 12 <%= Math.floor(Math.random() * 10) + 3 %></h2>

    <% var a = 3, b = 2  %>
    <p><%= a + b %></p>

    <% if(a===3) {  %>
      <p>a is 3</p>
    <% }else{ %>
      <p>a not 3</p>
    <% } %>

    <% var fonts = ['Luckiest Guy', 'Special Elite', 'Lobster'] %>
    <% var colors = ['blue', 'green', 'yellow', 'orange', 'pink', 'red', 'purple'] %>
    <% for(var i = 0; i < colors.length; i++) { %>
    <% var bg = (colors.length - 1) === i ? 0 : i+1 %>
    <p style="font-family:<%= fonts[i%3] %>; background-color:<%= colors[bg] %>; color:<%= colors[i] %>; font-size:<%= 30 + (i*2)  %>px; %>"> <%= colors[i] %> </p>
    <% } %>
  </body>
</html>

