<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sum</title>
  </head>
  <body>
    <h1>Sum</h1>
    <% var sum = a+b+c+d  %>
    <% var color = (sum%2) ? 'red' : 'blue' %>
    <h2 style="font-size:<%=f%>; border:<%=w%> solid <%=r%>;"><%= a %> + <%= b %> + <%= c %> + <%= d %> =
      <span style="color:<%= color %>;"><%= sum %></span>
    </h2>
  </body>
</html>

